
@{
    ViewBag.Title = "AccessDenied";
}

<br />
<br />
<div style="margin-bottom:15%;text-align:center">
    
        <p style="font-size:400%"><b>Error</b></p>
        <p style="font-size:400%"><b>403</b></p>
        <p style="font-size:300%"><b>¡Acceso denegado!</b></p>  
</div>
<br />
<br />
