
@{
    ViewBag.Title = "Acción no realizada";
}
    <div>
        <br />
        <h3>No se ha podido realizar la acción</h3>
        <br />
        <p>La acción no se ha podido completar debido a que este subprograma esta relacionado con otros registros</p>
        <a href="@Url.Action("Index","Subprogramas")" class="btn btn-danger">Volver</a>


    </div>
